* {
    background-color: lightgreen;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    
}

h2 {
    margin: 0px;
    padding-bottom: 0px;
}

.grid {
    margin: 10px;
    width: 565px;
    height: 565px;
    display: flex;
    flex-wrap: wrap;
}
.square {
    height: 190px;
    width: 186.3px;
    border: solid black 1px;
}
.mole {
    background-image: url(mole.png);
    
}